.header_menu-logo {
  font-size: 1.728rem;
  line-height: inherit;
  white-space: nowrap;
  font-weight: 800;
  color: #fff;
  text-decoration: none;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#burger {
  z-index: 1000;
  position: absolute;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#menu__toggle {
  display: none;
}

.header_menu {
  text-decoration: none;
  font-style: normal;
  font-size: 0.83333rem;
  font-weight: 600;
  line-height: 18px;
  padding-left: 20px;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.menu_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  background-color: transparent;
}

.content-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container_footer {
  margin: 0 auto;
  width: 1410px;
  padding: 0px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.9);
}

.text_footer {
  padding: 0px;
  margin: 0px;
  font-family: Open Sans;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
}

.content-header {
  max-width: 1440px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 40px;
}

.title-content {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #fff;
  text-align: left;
  font-weight: 400;
  line-height: 1.5;
  font-size: 1rem;
  max-width: 250px;
}

.title-text {
  font-size: 1.2rem;
  font-weight: 400;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #5e6e82;
  text-align: left;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  max-width: 300px;
}

.btn-header {
  margin-top: 30px;
  display: inline-block;
  font-weight: 500;
  color: #f9fafd;
  border: 1px solid #f9fafd;
  background: none;
  padding: 2px 40px;
  font-size: 1.25rem;
  border-radius: 20px;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  cursor: pointer;
}

.btn-header:hover {
  color: #5e6e82;
  border: 1px solid #f9fafd;
  background-color: #f9fafd;
  padding: 2px 40px;
  font-size: 1.25rem;
  border-radius: 20px;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  cursor: pointer;
}

.ceck-box {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.container-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

i {
  width: 5px;
  height: 12px;
  border: solid red;
  border-width: 0 3px 3px 0;
  display: inline-block;
}

.right {
  -webkit-transform: rotate(35deg);
      -ms-transform: rotate(35deg);
          transform: rotate(35deg);
}

.active {
  display: none;
}

.text-checkbox {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #5e6e82;
  text-align: left;
  margin-left: 30px;
}

.info-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title-content-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-content-inf {
  margin-bottom: 0.5rem;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 500;
  line-height: 1.2;
  color: #344050;
}

.title-text-info {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #5e6e82;
  max-width: 700px;
  text-align: center;
}

.content-component-img-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn-info {
  margin: 0 auto;
  max-width: 300px;
  display: inline-block;
  font-weight: 500;
  color: #f9fafd;
  border: 1px solid #5e6e82;
  background: 0 0;
  padding: 2px 40px;
  font-size: 1.25rem;
  border-radius: 20px;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  cursor: pointer;
  color: #5e6e82;
  margin-top: 70px;
}

.btn-info:hover {
  color: #5e6e82;
  border: 1px solid #f9fafd;
  background-color: #f9fafd;
  padding: 2px 40px;
  font-size: 1.25rem;
  border-radius: 20px;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  cursor: pointer;
}

.component-img {
  margin-bottom: 0.5rem;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 500;
  line-height: 1.2;
  color: #344050;
}

.img-component {
  max-width: 100%;
  height: auto;
}

.container_component_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 90px;
}

.container_component_img-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 90px;
}

.container_component-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.container-component-container {
  border-bottom-left-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
  text-align: center;
  max-width: 25%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  border: 0 solid #edf2f9;
  border-radius: 0.375rem;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px 50px;
  -webkit-box-shadow: 0 7px 14px 0 rgba(65, 69, 88, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
          box-shadow: 0 7px 14px 0 rgba(65, 69, 88, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
}

.container-component-container:hover {
  margin-top: 0px;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  -webkit-box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.18);
          box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.18);
}

.name-container-contant {
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 500;
  line-height: 1.2;
  color: #344050;
  max-width: 250px;
}

body {
  margin: 0px;
  background-color: aliceblue;
}

.header {
  background-image: url("/img/bg-1.jpg");
  background-size: 100%;
  padding-bottom: 90px;
}

.content-info-back {
  background: #edf2f9;
}

.content-info {
  max-width: 1300px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.content-containers {
  padding-top: 40px;
  padding-bottom: 40px;
  background: #f9fafd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 770px) {
  .foto_1 {
    display: none;
  }

  .header_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header_conteiner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .menu_content {
    z-index: 1;
    display: none;
  }

  ._active {
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    background-color: #c73d3d;
    width: 100%;
    opacity: 0.8;
    display: block;
    overflow: scroll;
  }

  #menu__toggle {
    text-decoration: none;
    opacity: 0;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
            transform: rotate(0);
  }

  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }

  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }

  #menu__toggle {
    display: none;
  }

  .menu__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    top: 20px;
    width: 26px;
    height: 26px;
    right: 30px;
    cursor: pointer;
    z-index: 1;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #e8c300;
    -webkit-transition-duration: 0.25s;
         -o-transition-duration: 0.25s;
            transition-duration: 0.25s;
  }

  .menu__btn > span::before {
    content: "";
    top: -8px;
  }

  .menu__btn > span::after {
    content: "";
    top: 8px;
  }
}